<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4"><h1 class="text-center">Stats</h1>
<%= render @to_do %>
  </div>
  <div class="col-md-4"><h1 class="text-center">Today</h1>
<%= render @doing %>
  </div>
  <div class="col-md-4"><h1 class="text-center">Tomorrow</h1>
<%= render @done %>
  </div>
</div>

<%= link_to 'New Task', new_task_path %>
